@model EpamTask.MyBlog.WebInterface.Models.BlogUserModel

   <div class="row-fluid show-grid">
        <div class="span1">
        @if (Model.HasAvatar)
        {
            <img src="/User/ShowAvatar?id=@Model.ID" class="img-details" />
        }
        else
        {
             <img src="/Content/DefaultUserAvatar.jpg" class="img-details" />            
        }
        </div>

        <div class="span1"></div>
        <div class="span2"></div>
        <div class="span4"></div>
        <div class="span4"></div>

    </div>