@model EpamTask.MyBlog.WebInterface.Models.ConfirmationModel

@{
    ViewBag.Title = "Logout";
}

<h2>Вы точно хотите выйти?</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <button name="Confirm" value="true">Да</button>
    <button name="Confirm" value="false">Нет</button>
}


