@model EpamTask.MyBlog.WebInterface.Models.BlogUserModel

@{
    ViewBag.Title = "UserNavBar";
    var id = Model.ID;
}

<ul class="nav nav-tabs pull-right">
    <li>@Html.ActionLink("Мой блог", "Index", "Blog", new { userID = Model.ID }, null)</li>
    <li>@Html.ActionLink("Создать пост", "CreatePost", "Blog", new { userID = Model.ID }, null)</li>
    <li>@Html.ActionLink("Профиль", "UserInfo", "User", new { userID = Model.ID }, null)</li>

    @if (User.IsInRole("Admin"))
    {        
       <li>@Html.ActionLink("Управление пользователями", "Index", "Admin")</li>        
    }
</ul>