@model IEnumerable<EpamTask.MyBlog.Entities.Tag>

@{
    ViewBag.Title = "PostTags";
}

<div class="container-fluid pull-left">
    <div class="col-xs-8">
        <table class="table">

            <tr>
                @if (Model.Count() != 0)
                {
                    <td>
                    Тэги:
                    </td>
                }
                
                @foreach (var item in Model)
                {              
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>

                    @Html.HiddenFor(modelItem => item.AuthorID)
                    @Html.HiddenFor(modelItem => item.PostID)
                }
            </tr>
        </table>
    </div>
</div>
