@{
    ViewBag.Title = "Index";
}

<h2>Главная страница</h2>

<div class="container-fluid">
        <div class="col-xs-4">

            @Html.Action("SearchPostsByText", "Search")
            @Html.Action("SearchPostsByTag", "Search")

        </div>
        <div class="col-xs-8">
            @Html.Action("GetAllPosts", "Blog")
        </div>
</div>
